extends ../components/base/layout

block variables
  - const title = "Задачи Лиги «А»" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const sectionsData = indexSectionsContent

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +intro()

    each sectionContent in sectionsData
      +section(sectionContent)&attributes(sectionContent.attr)

    +scroll-slider()

block modals
