mixin intro()
  section.intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .intro__heading
        h1.intro__title Задачки на&nbsp;прокачку
        p.intro__description
          | Задачи на&nbsp;интерфейсную логику,#[br]
          | которые часто встречаются#[br]
          | на&nbsp;реальных проектах

        p(style="margin-top: 40px;") Пример использования +img()
        p(style="margin-bottom: 40px;")
          +img("content", "placeholder", "png", 120, 120, "Пример")
