-
  const cards = [
    {
      href: '#menu',
      title: 'Меню'
    },
    {
      href: '#loader',
      title: 'Лоадер'
    },
    {
      href: '#first-screen',
      title: 'Сборка<br>первого экрана'
    },
    {
      href: '#show-on-scroll',
      title: 'Появление блоков'
    },
    {
      href: '#parallax',
      title: 'Параллакс'
    },
    {
      href: '#scroll-slider',
      title: 'Слайдер<br>по скроллу'
    },
  ]

mixin intro()
  section.intro
    .intro__sticky
      //- вставлять блоки во внешний контейнер неверно
      //- все блоки содержат в себе container без доп класса tutorial__wrapper
      .container

        .intro__heading
          h1.intro__title.title Задачки#[br]на&nbsp;прокачку
          p.intro__description
            | Задачи на&nbsp;интерфейсную логику,#[br]
            | которые часто встречаются#[br]
            | на&nbsp;реальных проектах


        .intro__cards
          each card in cards
            if card.offset
              //- a.card-simple(href= card.href)
              +btn({href: card.href}).card-simple(aria-label="Кнопка перехода по странице", data-offset=card.offset)
                h2.card-simle__title.title.title--h2!= card.title
            else
              //- a.card-simple(href= card.href)
              +btn({href: card.href}).card-simple(aria-label="Кнопка перехода по странице")
                h2.card-simle__title.title.title--h2!= card.title

      .intro__bg
        video(src="video/background-wave.mp4", alt="waves", autoplay="true", muted="true", loop, playsinline)

    //- p(style="margin-top: 40px;") Пример использования +img()
        p(style="margin-bottom: 40px;")
          +img("content", "placeholder", "png", 120, 120, "Пример")
