mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Анимации"
      },
      {
        href: "yandex-map-1.html",
        text: "Карта 1"
      },
      {
        href: "yandex-map-2.html",
        text: "Карта 2"
      },
      {
        href: "yandex-map-3.html",
        text: "Карта 3"
      },
      {
        href: "yandex-map-4.html",
        text: "Карта 4"
      },
    ]

  header.header(class=headerMods, data-fix-block)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        .span.header__logo
          +icon("logo", 181, 33)(alt="Логотип проекта")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo", 181, 33)(alt="Логотип проекта")
      button.header__toggle(type="button", data-menu="toggle", aria-label="Переключатель отображения меню")
          +icon("icon-burger", 20, 20)

    nav.main-nav(data-menu="nav", data-fix-block)
      .container
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)
                    span=link.text
