-
  const indexSectionsContent = [
    {
      attr: {
        'id': 'menu'
      },
      title: 'Меню тз',
      paragraphs: [
        '<b>Анимация появления</b>',
        'При открытии: Сначала появляется меню, затем внутренний контент. Пункты внутри появляются с разной задержкой - эффект "лесенки"',
        'При закрытии: Внутренний контент исчезает до закрытия меню, без задержки',
        'Анимация меню на данном сайте реализована с помощью css (это база). Можете так же реализовать анимацию с помощью gsap',
        '<b>JS</b>',
        'Для блокировки скролла используется window.scrollLock',
        'Должны быть реализованы функции или методы для открытия и закрытия меню, которые можно использовать в других модулях',
      ]
    },
    {
      attr: {
        'id': 'loader'
      },
      title: 'Лоадер тз',
      paragraphs: [
        'Анимация лоадера произвольная, можно использовать css keyframes или gsap',
        'После загрузки страницы мы всегда находимся вверху страницы (не должно быть видно скачка)',
        'Скролл страницы заблокирован во время загрузки',
      ]
    },
    {
      attr: {
        'id': 'first-screen'
      },
      title: 'Сборка первого экрана тз',
      paragraphs: [
        'Для анимации используйте неколько разных css свойств и небольшие задержки',
        'Для построчной или посимвольной анимации текста используйте <a href="https://splitting.js.org" target="_blank">splitting.js</a> (пример: интро этого сайта)',
      ]
    },
    {
      attr: {
        'id': 'show-on-scroll'
      },
      title: 'Появление блоков',
      paragraphs: [
        'доскролили и вжух!',
        'Можно делать через классы и высчитывать по скроллу getBoundingClientRect каждого блока, но гораздо проще использовать ScrollTrigger.batch()',
      ],
      blocks: [
        {
          name: 'fade',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-in',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-in',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
      ]
    },
    {
      attr: {
        'id': 'scroll-slider'
      },
      title: 'Параллакс по скроллу',
      paragraphs: [
        'Эффекты, которые постоянно срабатывают по скроллу',
        'Скроллим скроллим и вжух вжух вжух!',
      ],
      blocks: [
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
      ],
    },
  ]
