-
  const indexSectionsContent = [
    {
      attr: {
        'id': 'menu'
      },
      title: 'Меню&nbsp;тз',
      paragraphs: [
        '<b>Анимация появления</b>',
        'При открытии: Сначала появляется меню, затем внутренний контент. Пункты внутри появляются с&nbsp;разной задержкой&nbsp;&mdash; эффект &laquo;лесенки&raquo;;',
        'При закрытии: Внутренний контент исчезает до&nbsp;закрытия меню, без задержки',
        'Анимация меню на&nbsp;данном сайте реализована с&nbsp;помощью css (это база). Можете так&nbsp;же реализовать анимацию с&nbsp;помощью gsap',
        '<b>JS</b>',
        'Для блокировки скролла используется window.scrollLock',
        'Должны быть реализованы функции или методы для открытия и&nbsp;закрытия меню, которые можно использовать в&nbsp;других модулях',
      ]
    },
    {
      attr: {
        'id': 'loader'
      },
      title: 'Лоадер&nbsp;тз',
      paragraphs: [
        'Анимация лоадера произвольная, можно использовать css keyframes или gsap',
        'После загрузки страницы мы&nbsp;всегда находимся вверху страницы (не&nbsp;должно быть видно скачка)',
        'Скролл страницы заблокирован во&nbsp;время загрузки',
      ]
    },
    {
      attr: {
        'id': 'first-screen'
      },
      title: 'Сборка первого экрана&nbsp;тз',
      paragraphs: [
        'Для анимации используйте неколько разных css свойств и&nbsp;небольшие задержки',
        'Для построчной или посимвольной анимации текста используйте <a href="https://splitting.js.org" target="_blank">splitting.js</a> (пример: интро этого сайта)',
      ]
    },
    {
      attr: {
        'id': 'show-on-scroll'
      },
      title: 'Появление блоков',
      paragraphs: [
        'доскролили и&nbsp;вжух!',
        'Можно делать через классы и&nbsp;высчитывать по&nbsp;скроллу getBoundingClientRect каждого блока, но&nbsp;гораздо проще использовать ScrollTrigger.batch()',
      ],
      blocks: [
        {
          name: 'fade',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-in',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-in',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
      ]
    },
    {
      attr: {
        'id': 'scroll-slider'
      },
      title: 'Параллакс по&nbsp;скроллу',
      paragraphs: [
        'Эффекты, которые постоянно срабатывают по&nbsp;скроллу',
        'Скроллим скроллим и&nbsp;вжух вжух вжух!',
      ],
      blocks: [
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
        {
          name: 'fade-scale',
          mods: {
            'class': 'card-simple card-simple--dark card-simple--centered',
          },
        },
      ],
    },
  ]
